body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: radial-gradient(circle at top left, purple, transparent), radial-gradient(circle at top right, blue, transparent), radial-gradient(circle at bottom right, pink, transparent), radial-gradient(circle at bottom left, cyan, transparent);

}

.calculator {
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.display {
    padding: 15px;
    text-align: right;
    font-size: 24px;
    background: radial-gradient(circle at top right, midnightblue, black);
    color:  white;
    

}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
    background: radial-gradient(circle at top right, midnightblue, black);
}

button {
    padding: 15px;
    cursor: pointer;
    background-color: #6f6f6f;
    border: none;
    font-size: 18px;
    color:  white;

}

button:hover {
    background: radial-gradient(circle at top right, midnightblue, black);
    color: #d0d0d0;
}

button:active {
    background: radial-gradient(circle at top right, midnightblue, black);
    color: #d0d0d0;
}

.operator {
    background-color: orange;
    color: white;
}

.operator:hover {
    background-color: darkorange;
}

.operator:active {
    background-color: orangered;
}
